In [1]:
import os
os.chdir("..")
import pandas as pd

### <center> **Revealed Comparative Advantage** </center>


Being $S_{cp}$ the share that a country *c* has to the global market for a good *p*, the matrix "*shares*" will be composed by the exports from every country different to *world* to the *world* (BuildingBlocksofEconomicComplexityAppendix.pdf page 3). So, the first step is to exclude *world* from the working data

In [21]:
shares = pd.read_csv('data_cleaned/data.csv', low_memory=False)
shares = shares[(shares['importer'] == 'World') & (shares['exporter'] != 'World')]
shares

           year   icode importer   ecode      exporter product    share
1438     1985.0  100000    World  117100  South Africa    0015      3.0
1439     1985.0  100000    World  117100  South Africa    0111  17396.0
1440     1985.0  100000    World  117100  South Africa    0112    423.0
1441     1985.0  100000    World  117100  South Africa    0113    936.0
1442     1985.0  100000    World  117100  South Africa    0114    712.0
...         ...     ...      ...     ...           ...     ...      ...
5956436  1995.0  100000    World  908960     Areas NES    89AA      0.0
5956437  1995.0  100000    World  908960     Areas NES    8XXX      0.0
5956438  1995.0  100000    World  908960     Areas NES    9310    222.0
5956439  1995.0  100000    World  908960     Areas NES    9410    122.0
5956440  1995.0  100000    World  908960     Areas NES    9510    231.0

[508420 rows x 7 columns]

In [22]:
products = shares[['year', 'product', 'share']].groupby(['year', 'product']).sum().reset_index()
products.columns = ['year', 'product', 'total']
products

         year product         total
0      1985.0    0011  1.545570e+06
1      1985.0    0012  1.304516e+06
2      1985.0    0013  3.823720e+06
3      1985.0    0014  2.002013e+07
4      1985.0    0015  1.518694e+05
...       ...     ...           ...
14316  1995.0    9310  1.639436e+07
14317  1995.0    9410  1.986242e+07
14318  1995.0    9510  2.050300e+04
14319  1995.0    9610  1.313900e+04
14320  1995.0    9710  9.747230e+05

[14321 rows x 3 columns]

In [40]:
ubiquity = shares[['year', 'ecode', 'exporter', 'product']].groupby(['year', 'ecode', 'exporter']).count().reset_index()
ubiquity.columns = ['year', 'ecode', 'exporter', 'k']
ubiquity

        year   ecode      exporter    k
0     1985.0  117100  South Africa  533
1     1985.0  130120       Algeria  160
2     1985.0  134340         Libya   63
3     1985.0  135040       Morocco  255
4     1985.0  137360         Sudan   94
...      ...     ...           ...  ...
1907  1995.0  725400  New Calednia   41
1908  1995.0  725980  Papua N.Guin   78
1909  1995.0  728882         Samoa   13
1910  1995.0  728960   Oth.Oceania   34
1911  1995.0  908960     Areas NES  457

[1912 rows x 4 columns]

In [41]:
exporters = shares[['year', 'ecode', 'exporter', 'product', 'share']].groupby(['year', 'ecode', 'exporter', 'product']).sum().reset_index()
exporters = exporters.merge(products, how = 'inner', on = ['year', 'product'])
exporters['rca'] = exporters['share'] / exporters['total']
exporters.fillna(0, inplace=True)
exporters = exporters.merge(ubiquity, how='inner', on = ['year', 'ecode', 'exporter'])
exporters

,year,ecode,exporter,product,share,total,rca,k
0,1985.0,117100,South Africa,0015,3.0,1.518694e+05,0.000020,533
1,1985.0,117100,South Africa,0111,17396.0,3.312992e+06,0.005251,533
2,1985.0,117100,South Africa,0112,423.0,7.147081e+05,0.000592,533
3,1985.0,117100,South Africa,0113,936.0,1.921423e+06,0.000487,533
4,1985.0,117100,South Africa,0114,712.0,1.253734e+06,0.000568,533
...,...,...,...,...,...,...,...,...
508415,1995.0,578960,Eur.Other NE,6725,1000.0,3.099185e+07,0.000032,11
508416,1995.0,578960,Eur.Other NE,6746,220.0,2.162441e+07,0.000010,11
508417,1995.0,578960,Eur.Other NE,7111,89.0,1.021540e+05,0.000871,11
508418,1995.0,578960,Eur.Other NE,7272,16.0,4.006450e+05,0.000040,11
508419,1995.0,578960,Eur.Other NE,7284,38.0,1.019173e+06,0.000037,11